tools/DITA-OT/demo/xliff/samples/ComstartUserGuide/map.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY mapgroup-d-att "(map mapgroup-d)">
<!ENTITY indexing-d-att "(topic indexing-d)">
<!ENTITY included-domains "&mapgroup-d-att; &indexing-d-att;">
<!ELEMENT data-about ((data),(data|data-about)*)>
<!ATTLIST data-about
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	href CDATA #IMPLIED
	format CDATA #IMPLIED
	type CDATA #IMPLIED
	scope (local|peer|external|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/data-about ">
<!ELEMENT data (#PCDATA|keyword|term|data|data-about|foreign|unknown|image|object|ph|title)*>
<!ATTLIST data
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	name CDATA #IMPLIED
	datatype CDATA #IMPLIED
	value CDATA #IMPLIED
	href CDATA #IMPLIED
	format CDATA #IMPLIED
	type CDATA #IMPLIED
	scope (local|peer|external|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/data ">
<!ELEMENT unknown ANY>
<!ATTLIST unknown
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/unknown ">
<!ELEMENT foreign ANY>
<!ATTLIST foreign
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/foreign ">
<!ELEMENT title (#PCDATA|ph|term|q|boolean|state|keyword|tm|image|data|data-about|foreign|unknown)*>
<!ATTLIST title
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	base CDATA #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/title ">
<!ELEMENT shortdesc (#PCDATA|ph|term|q|boolean|state|keyword|tm|image|data|data-about|foreign|unknown)*>
<!ATTLIST shortdesc
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/shortdesc ">
<!ELEMENT desc (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|p|lq|note|dl|ul|ol|sl|pre|lines|image|data|data-about|foreign|unknown)*>
<!ATTLIST desc
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/desc ">
<!ELEMENT p (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|lq|note|dl|ul|ol|sl|pre|lines|fig|image|object|table|simpletable|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST p
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/p ">
<!ELEMENT note (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|p|lq|dl|ul|ol|sl|pre|lines|fig|image|object|table|simpletable|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST note
	type (note|tip|fastpath|restriction|important|remember|attention|caution|danger|other|-dita-use-conref-target) #IMPLIED
	spectitle CDATA #IMPLIED
	othertype CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/note ">
<!ELEMENT lq (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|p|note|dl|ul|ol|sl|pre|lines|fig|image|object|table|simpletable|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST lq
	href CDATA #IMPLIED
	keyref CDATA #IMPLIED
	type (external|internal|bibliographic|-dita-use-conref-target) #IMPLIED
	reftitle CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/lq ">
<!ELEMENT q (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|data|data-about|foreign|unknown)*>
<!ATTLIST q
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/q ">
<!ELEMENT sl (sli)+>
<!ATTLIST sl
	compact (yes|no|-dita-use-conref-target) #IMPLIED
	spectitle CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/sl ">
<!ELEMENT sli (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|image|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST sli
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/sli ">
<!ELEMENT ul (li)+>
<!ATTLIST ul
	compact (yes|no|-dita-use-conref-target) #IMPLIED
	spectitle CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/ul ">
<!ELEMENT ol (li)+>
<!ATTLIST ol
	compact (yes|no|-dita-use-conref-target) #IMPLIED
	spectitle CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/ol ">
<!ELEMENT li (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|p|lq|note|dl|ul|ol|sl|pre|lines|fig|image|object|table|simpletable|itemgroup|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST li
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/li ">
<!ELEMENT itemgroup (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|p|lq|note|dl|ul|ol|sl|pre|lines|fig|image|object|table|simpletable|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST itemgroup
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/itemgroup ">
<!ELEMENT dl ((dlhead)?,(dlentry)+)>
<!ATTLIST dl
	compact (yes|no|-dita-use-conref-target) #IMPLIED
	spectitle CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/dl ">
<!ELEMENT dlhead ((dthd)?,(ddhd)?)>
<!ATTLIST dlhead
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/dlhead ">
<!ELEMENT dthd (#PCDATA|ph|term|q|boolean|state|keyword|tm|image|data|data-about|foreign|unknown)*>
<!ATTLIST dthd
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/dthd ">
<!ELEMENT ddhd (#PCDATA|ph|term|q|boolean|state|keyword|tm|image|data|data-about|foreign|unknown)*>
<!ATTLIST ddhd
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/ddhd ">
<!ELEMENT dlentry ((dt)+,(dd)+)>
<!ATTLIST dlentry
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/dlentry ">
<!ELEMENT dt (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|image|data|data-about|foreign|unknown)*>
<!ATTLIST dt
	keyref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/dt ">
<!ELEMENT dd (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|p|lq|note|dl|ul|ol|sl|pre|lines|fig|image|object|table|simpletable|itemgroup|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST dd
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/dd ">
<!ELEMENT fig ((title)?,(desc)?,(figgroup|p|lq|note|dl|ul|ol|sl|pre|lines|image|object|simpletable|xref|fn|data|data-about|foreign|unknown)*)>
<!ATTLIST fig
	scale (50|60|70|80|90|100|110|120|140|160|180|200|-dita-use-conref-target) #IMPLIED
	frame (top|bottom|topbot|all|sides|none|-dita-use-conref-target) #IMPLIED
	expanse (page|column|textline|-dita-use-conref-target) #IMPLIED
	spectitle CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/fig ">
<!ELEMENT figgroup ((title)?,(figgroup|xref|fn|ph|keyword)*)>
<!ATTLIST figgroup
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/figgroup ">
<!ELEMENT pre (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST pre
	scale (50|60|70|80|90|100|110|120|140|160|180|200|-dita-use-conref-target) #IMPLIED
	frame (top|bottom|topbot|all|sides|none|-dita-use-conref-target) #IMPLIED
	expanse (page|column|textline|-dita-use-conref-target) #IMPLIED
	spectitle CDATA #IMPLIED
	xml:space (preserve) #FIXED "preserve"
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/pre ">
<!ELEMENT lines (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST lines
	scale (50|60|70|80|90|100|110|120|140|160|180|200|-dita-use-conref-target) #IMPLIED
	frame (top|bottom|topbot|all|sides|none|-dita-use-conref-target) #IMPLIED
	expanse (page|column|textline|-dita-use-conref-target) #IMPLIED
	spectitle CDATA #IMPLIED
	xml:space (preserve) #FIXED "preserve"
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/lines ">
<!ELEMENT keyword (#PCDATA|tm)*>
<!ATTLIST keyword
	keyref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/keyword ">
<!ELEMENT term (#PCDATA|tm)*>
<!ATTLIST term
	keyref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/term ">
<!ELEMENT ph (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|image|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST ph
	keyref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/ph ">
<!ELEMENT tm (#PCDATA|tm)*>
<!ATTLIST tm
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	trademark CDATA #IMPLIED
	tmowner CDATA #IMPLIED
	tmtype (tm|reg|service|-dita-use-conref-target) #REQUIRED
	tmclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/tm ">
<!ELEMENT boolean EMPTY>
<!ATTLIST boolean
	state (yes|no|-dita-use-conref-target) #REQUIRED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/boolean ">
<!ELEMENT state EMPTY>
<!ATTLIST state
	name CDATA #REQUIRED
	value CDATA #REQUIRED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/state ">
<!ELEMENT image (alt)?>
<!ATTLIST image
	href CDATA #REQUIRED
	keyref NMTOKEN #IMPLIED
	alt CDATA #IMPLIED
	longdescref CDATA #IMPLIED
	height NMTOKEN #IMPLIED
	width NMTOKEN #IMPLIED
	align CDATA #IMPLIED
	scale NMTOKEN #IMPLIED
	placement (inline|break|-dita-use-conref-target)  "inline"
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/image ">
<!ELEMENT alt (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST alt
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/alt ">
<!ELEMENT object ((desc)?,(param)*,(foreign|unknown)*)>
<!ATTLIST object
	declare (declare) #IMPLIED
	classid CDATA #IMPLIED
	codebase CDATA #IMPLIED
	data CDATA #IMPLIED
	type CDATA #IMPLIED
	codetype CDATA #IMPLIED
	archive CDATA #IMPLIED
	standby CDATA #IMPLIED
	height NMTOKEN #IMPLIED
	width NMTOKEN #IMPLIED
	usemap CDATA #IMPLIED
	name CDATA #IMPLIED
	tabindex NMTOKEN #IMPLIED
	longdescref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	longdescre CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/object ">
<!ELEMENT param EMPTY>
<!ATTLIST param
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	name CDATA #REQUIRED
	value CDATA #IMPLIED
	valuetype (data|ref|object|-dita-use-conref-target) #IMPLIED
	type CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/param ">
<!ELEMENT simpletable ((sthead)?,(strow)+)>
<!ATTLIST simpletable
	relcolwidth CDATA #IMPLIED
	keycol NMTOKEN #IMPLIED
	refcols NMTOKENS #IMPLIED
	scale (50|60|70|80|90|100|110|120|140|160|180|200|-dita-use-conref-target) #IMPLIED
	frame (top|bottom|topbot|all|sides|none|-dita-use-conref-target) #IMPLIED
	expanse (page|column|textline|-dita-use-conref-target) #IMPLIED
	spectitle CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/simpletable ">
<!ELEMENT sthead (stentry)+>
<!ATTLIST sthead
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/sthead ">
<!ELEMENT strow (stentry)*>
<!ATTLIST strow
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/strow ">
<!ELEMENT stentry (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|p|lq|note|dl|ul|ol|sl|pre|lines|fig|image|object|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST stentry
	specentry CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/stentry ">
<!ELEMENT draft-comment (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|p|lq|note|dl|ul|ol|sl|pre|lines|fig|image|object|table|simpletable|data|data-about|foreign|unknown)*>
<!ATTLIST draft-comment
	author CDATA #IMPLIED
	time CDATA #IMPLIED
	disposition (issue|open|accepted|rejected|deferred|duplicate|reopened|unassigned|completed|-dita-use-conref-target) #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target)  "no"
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/draft-comment ">
<!ELEMENT required-cleanup ANY>
<!ATTLIST required-cleanup
	remap CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target)  "no"
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/required-cleanup ">
<!ELEMENT fn (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|p|lq|note|dl|ul|ol|sl|pre|lines|fig|image|object|data|data-about|foreign|unknown)*>
<!ATTLIST fn
	callout CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/fn ">
<!ELEMENT indexterm (#PCDATA|keyword|term|data|data-about|foreign|unknown|indexterm|index-base|index-see|index-see-also|index-sort-as)*>
<!ATTLIST indexterm
	keyref CDATA #IMPLIED
	start CDATA #IMPLIED
	end CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/indexterm ">
<!ELEMENT index-base (#PCDATA|keyword|term|data|data-about|foreign|unknown|indexterm)*>
<!ATTLIST index-base
	keyref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/index-base ">
<!ELEMENT indextermref EMPTY>
<!ATTLIST indextermref
	keyref CDATA #REQUIRED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/indextermref ">
<!ELEMENT cite (#PCDATA|ph|term|q|boolean|state|keyword|tm|data|data-about|foreign|unknown)*>
<!ATTLIST cite
	keyref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/cite ">
<!ELEMENT xref (#PCDATA|ph|term|q|boolean|state|keyword|tm|image|data|data-about|foreign|unknown|desc)*>
<!ATTLIST xref
	href CDATA #IMPLIED
	keyref CDATA #IMPLIED
	type CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	format CDATA #IMPLIED
	scope (local|peer|external|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/xref ">
<!ELEMENT table (((title)?,(desc)?)?,(tgroup)+)>
<!ATTLIST table
	frame (top|bottom|topbot|all|sides|none|-dita-use-conref-target) #IMPLIED
	colsep NMTOKEN #IMPLIED
	rowsep NMTOKEN #IMPLIED
	pgwide NMTOKEN #IMPLIED
	rowheader (firstcol|norowheader|-dita-use-conref-target) #IMPLIED
	scale (50|60|70|80|90|100|110|120|140|160|180|200|-dita-use-conref-target) #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/table ">
<!ELEMENT tgroup ((colspec)*,(thead)?,tbody)>
<!ATTLIST tgroup
	cols NMTOKEN #REQUIRED
	colsep NMTOKEN #IMPLIED
	rowsep NMTOKEN #IMPLIED
	align (left|right|center|justify|char|-dita-use-conref-target) #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/tgroup ">
<!ELEMENT colspec EMPTY>
<!ATTLIST colspec
	colnum NMTOKEN #IMPLIED
	colname NMTOKEN #IMPLIED
	colwidth CDATA #IMPLIED
	colsep NMTOKEN #IMPLIED
	rowsep NMTOKEN #IMPLIED
	align (left|right|center|justify|char|-dita-use-conref-target) #IMPLIED
	char CDATA #IMPLIED
	charoff NMTOKEN #IMPLIED
	base CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/colspec ">
<!ELEMENT thead ((row)+)>
<!ATTLIST thead
	valign (top|middle|bottom|-dita-use-conref-target) #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/thead ">
<!ELEMENT tbody (row)+>
<!ATTLIST tbody
	valign (top|middle|bottom|-dita-use-conref-target) #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/tbody ">
<!ELEMENT row ((entry)+)>
<!ATTLIST row
	rowsep NMTOKEN #IMPLIED
	valign (top|middle|bottom|-dita-use-conref-target) #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/row ">
<!ELEMENT entry (#PCDATA|ph|term|xref|cite|q|boolean|state|keyword|tm|p|lq|note|dl|ul|ol|sl|pre|lines|fig|image|object|draft-comment|required-cleanup|fn|indextermref|indexterm|data|data-about|foreign|unknown)*>
<!ATTLIST entry
	colname NMTOKEN #IMPLIED
	namest NMTOKEN #IMPLIED
	nameend NMTOKEN #IMPLIED
	morerows NMTOKEN #IMPLIED
	colsep NMTOKEN #IMPLIED
	rowsep NMTOKEN #IMPLIED
	align (left|right|center|justify|char|-dita-use-conref-target) #IMPLIED
	char CDATA #IMPLIED
	charoff NMTOKEN #IMPLIED
	valign (top|middle|bottom|-dita-use-conref-target) #IMPLIED
	base CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	outputclass CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/entry ">
<!ELEMENT author (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST author
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	href CDATA #IMPLIED
	keyref CDATA #IMPLIED
	type (creator|contributor|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/author ">
<!ELEMENT source (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST source
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	href CDATA #IMPLIED
	keyref CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/source ">
<!ELEMENT publisher (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST publisher
	href CDATA #IMPLIED
	keyref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/publisher ">
<!ELEMENT copyright ((copyryear)+,copyrholder)>
<!ATTLIST copyright
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	type (primary|secondary|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/copyright ">
<!ELEMENT copyryear EMPTY>
<!ATTLIST copyryear
	year CDATA #REQUIRED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/copyryear ">
<!ELEMENT copyrholder (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST copyrholder
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/copyrholder ">
<!ELEMENT critdates (created,(revised)*)>
<!ATTLIST critdates
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/critdates ">
<!ELEMENT created EMPTY>
<!ATTLIST created
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	date CDATA #REQUIRED
	golive CDATA #IMPLIED
	expiry CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/created ">
<!ELEMENT revised EMPTY>
<!ATTLIST revised
	modified CDATA #REQUIRED
	golive CDATA #IMPLIED
	expiry CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/revised ">
<!ELEMENT permissions EMPTY>
<!ATTLIST permissions
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	view (internal|classified|all|entitled|-dita-use-conref-target) #REQUIRED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/permissions ">
<!ELEMENT category (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST category
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/category ">
<!ELEMENT audience EMPTY>
<!ATTLIST audience
	type (user|purchaser|administrator|programmer|executive|services|other|-dita-use-conref-target) #IMPLIED
	othertype CDATA #IMPLIED
	job (installing|customizing|administering|programming|using|maintaining|troubleshooting|evaluating|planning|migrating|other|-dita-use-conref-target) #IMPLIED
	otherjob CDATA #IMPLIED
	experiencelevel (novice|general|expert|-dita-use-conref-target) #IMPLIED
	name NMTOKEN #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/audience ">
<!ELEMENT keywords (indexterm|keyword)*>
<!ATTLIST keywords
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/keywords ">
<!ELEMENT prodinfo ((prodname),(vrmlist),(brand|series|platform|prognum|featnum|component)*)>
<!ATTLIST prodinfo
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/prodinfo ">
<!ELEMENT prodname (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST prodname
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/prodname ">
<!ELEMENT vrmlist (vrm)+>
<!ATTLIST vrmlist
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/vrmlist ">
<!ELEMENT vrm EMPTY>
<!ATTLIST vrm
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	version CDATA #REQUIRED
	release CDATA #IMPLIED
	modification CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/vrm ">
<!ELEMENT brand (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST brand
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/brand ">
<!ELEMENT series (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST series
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/series ">
<!ELEMENT platform (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST platform
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/platform ">
<!ELEMENT prognum (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST prognum
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/prognum ">
<!ELEMENT featnum (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST featnum
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/featnum ">
<!ELEMENT component (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST component
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/component ">
<!ELEMENT othermeta EMPTY>
<!ATTLIST othermeta
	name CDATA #REQUIRED
	content CDATA #REQUIRED
	translate-content (yes|no|-dita-use-conref-target) #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/othermeta ">
<!ELEMENT resourceid EMPTY>
<!ATTLIST resourceid
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	id CDATA #REQUIRED
	conref CDATA #IMPLIED
	appname CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- topic/resourceid ">
<!ELEMENT map ((title)?,(topicmeta)?,(navref|anchor|topicref|(topichead|topicgroup)|reltable|data|data-about)*)>
<!ATTLIST map
	title CDATA #IMPLIED
	id ID #IMPLIED
	conref CDATA #IMPLIED
	anchorref CDATA #IMPLIED
	outputclass CDATA #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xmlns:ditaarch CDATA #FIXED "http://dita.oasis-open.org/architecture/2005/"
	ditaarch:DITAArchVersion CDATA  "1.1"
	domains CDATA  "&included-domains;"
	collection-type (choice|unordered|sequence|family|-dita-use-conref-target) #IMPLIED
	type CDATA #IMPLIED
	scope (local|peer|external|-dita-use-conref-target) #IMPLIED
	locktitle (yes|no|-dita-use-conref-target) #IMPLIED
	format CDATA #IMPLIED
	linking (none|normal|sourceonly|targetonly|-dita-use-conref-target) #IMPLIED
	toc (yes|no|-dita-use-conref-target) #IMPLIED
	print (yes|no|printonly|-dita-use-conref-target) #IMPLIED
	search (yes|no|-dita-use-conref-target) #IMPLIED
	chunk CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/map ">
<!ELEMENT navref EMPTY>
<!ATTLIST navref
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	outputclass CDATA #IMPLIED
	mapref CDATA #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/navref ">
<!ELEMENT topicref ((topicmeta)?,(topicref|(topichead|topicgroup)|navref|anchor|data|data-about)*)>
<!ATTLIST topicref
	navtitle CDATA #IMPLIED
	href CDATA #IMPLIED
	keyref CDATA #IMPLIED
	query CDATA #IMPLIED
	copy-to CDATA #IMPLIED
	outputclass CDATA #IMPLIED
	collection-type (choice|unordered|sequence|family|-dita-use-conref-target) #IMPLIED
	type CDATA #IMPLIED
	scope (local|peer|external|-dita-use-conref-target) #IMPLIED
	locktitle (yes|no|-dita-use-conref-target) #IMPLIED
	format CDATA #IMPLIED
	linking (none|normal|sourceonly|targetonly|-dita-use-conref-target) #IMPLIED
	toc (yes|no|-dita-use-conref-target) #IMPLIED
	print (yes|no|printonly|-dita-use-conref-target) #IMPLIED
	search (yes|no|-dita-use-conref-target) #IMPLIED
	chunk CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/topicref ">
<!ELEMENT anchor EMPTY>
<!ATTLIST anchor
	outputclass CDATA #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	id ID #REQUIRED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/anchor ">
<!ELEMENT reltable ((topicmeta)?,(relheader)?,(relrow)+)>
<!ATTLIST reltable
	title CDATA #IMPLIED
	outputclass CDATA #IMPLIED
	collection-type (choice|unordered|sequence|family|-dita-use-conref-target) #IMPLIED
	type CDATA #IMPLIED
	scope (local|peer|external|-dita-use-conref-target) #IMPLIED
	locktitle (yes|no|-dita-use-conref-target) #IMPLIED
	format CDATA #IMPLIED
	linking (targetonly|sourceonly|normal|none|-dita-use-conref-target) #IMPLIED
	toc (yes|no|-dita-use-conref-target)  "no"
	print (yes|no|printonly|-dita-use-conref-target) #IMPLIED
	search (yes|no|-dita-use-conref-target) #IMPLIED
	chunk CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/reltable ">
<!ELEMENT relheader (relcolspec)+>
<!ATTLIST relheader
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/relheader ">
<!ELEMENT relcolspec (topicmeta)?>
<!ATTLIST relcolspec
	outputclass CDATA #IMPLIED
	collection-type (choice|unordered|sequence|family|-dita-use-conref-target) #IMPLIED
	type CDATA #IMPLIED
	scope (local|peer|external|-dita-use-conref-target) #IMPLIED
	locktitle (yes|no|-dita-use-conref-target) #IMPLIED
	format CDATA #IMPLIED
	linking (none|normal|sourceonly|targetonly|-dita-use-conref-target) #IMPLIED
	toc (yes|no|-dita-use-conref-target) #IMPLIED
	print (yes|no|printonly|-dita-use-conref-target) #IMPLIED
	search (yes|no|-dita-use-conref-target) #IMPLIED
	chunk CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/relcolspec ">
<!ELEMENT relrow (relcell)*>
<!ATTLIST relrow
	outputclass CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/relrow ">
<!ELEMENT relcell ((topicref|(topichead|topicgroup)|data|data-about)*)>
<!ATTLIST relcell
	outputclass CDATA #IMPLIED
	collection-type (choice|unordered|sequence|family|-dita-use-conref-target) #IMPLIED
	type CDATA #IMPLIED
	scope (local|peer|external|-dita-use-conref-target) #IMPLIED
	locktitle (yes|no|-dita-use-conref-target) #IMPLIED
	format CDATA #IMPLIED
	linking (none|normal|sourceonly|targetonly|-dita-use-conref-target) #IMPLIED
	toc (yes|no|-dita-use-conref-target) #IMPLIED
	print (yes|no|printonly|-dita-use-conref-target) #IMPLIED
	search (yes|no|-dita-use-conref-target) #IMPLIED
	chunk CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/relcell ">
<!ELEMENT topicmeta ((linktext)?,(searchtitle)?,(shortdesc)?,(author)*,(source)?,(publisher)?,(copyright)*,(critdates)?,(permissions)?,(audience)*,(category)*,(keywords)*,(prodinfo)*,(othermeta)*,(resourceid)*,(data|data-about|foreign|unknown)*)>
<!ATTLIST topicmeta
	lockmeta (yes|no|-dita-use-conref-target) #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/topicmeta ">
<!ELEMENT linktext (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST linktext
	outputclass CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/linktext ">
<!ELEMENT searchtitle (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST searchtitle
	outputclass CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "- map/searchtitle ">
<!ELEMENT topichead ((topicmeta)?,(topicref|(topichead|topicgroup)|navref|anchor|data|data-about)*)>
<!ATTLIST topichead
	navtitle CDATA #REQUIRED
	outputclass CDATA #IMPLIED
	collection-type (choice|unordered|sequence|family|-dita-use-conref-target) #IMPLIED
	type CDATA #IMPLIED
	scope (local|peer|external|-dita-use-conref-target) #IMPLIED
	locktitle (yes|no|-dita-use-conref-target) #IMPLIED
	format CDATA #IMPLIED
	linking (none|normal|sourceonly|targetonly|-dita-use-conref-target) #IMPLIED
	toc (yes|no|-dita-use-conref-target) #IMPLIED
	print (yes|no|printonly|-dita-use-conref-target) #IMPLIED
	search (yes|no|-dita-use-conref-target) #IMPLIED
	chunk CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "+ map/topicref mapgroup-d/topichead ">
<!ELEMENT topicgroup ((topicmeta)?,(topicref|(topichead|topicgroup)|navref|anchor|data|data-about)*)>
<!ATTLIST topicgroup
	outputclass CDATA #IMPLIED
	collection-type (choice|unordered|sequence|family|-dita-use-conref-target) #IMPLIED
	type CDATA #IMPLIED
	scope (local|peer|external|-dita-use-conref-target) #IMPLIED
	locktitle (yes|no|-dita-use-conref-target) #IMPLIED
	format CDATA #IMPLIED
	linking (none|normal|sourceonly|targetonly|-dita-use-conref-target) #IMPLIED
	toc (yes|no|-dita-use-conref-target) #IMPLIED
	print (yes|no|printonly|-dita-use-conref-target) #IMPLIED
	search (yes|no|-dita-use-conref-target) #IMPLIED
	chunk CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "+ map/topicref mapgroup-d/topicgroup ">
<!ELEMENT index-see (#PCDATA|keyword|term|data|data-about|foreign|unknown|indexterm)*>
<!ATTLIST index-see
	keyref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "+ topic/index-base indexing-d/index-see ">
<!ELEMENT index-see-also (#PCDATA|keyword|term|data|data-about|foreign|unknown|indexterm)*>
<!ATTLIST index-see-also
	keyref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "+ topic/index-base indexing-d/index-see-also ">
<!ELEMENT index-sort-as (#PCDATA|keyword|term|data|data-about|foreign|unknown)*>
<!ATTLIST index-sort-as
	keyref CDATA #IMPLIED
	id NMTOKEN #IMPLIED
	conref CDATA #IMPLIED
	props CDATA #IMPLIED
	platform CDATA #IMPLIED
	product CDATA #IMPLIED
	audience CDATA #IMPLIED
	otherprops CDATA #IMPLIED
	base CDATA #IMPLIED
	importance (obsolete|deprecated|optional|default|low|normal|high|recommended|required|urgent|-dita-use-conref-target) #IMPLIED
	rev CDATA #IMPLIED
	status (new|changed|deleted|unchanged|-dita-use-conref-target) #IMPLIED
	translate (yes|no|-dita-use-conref-target) #IMPLIED
	xml:lang NMTOKEN #IMPLIED
	dir (ltr|rtl|lro|rlo|-dita-use-conref-target) #IMPLIED
	xtrc CDATA #IMPLIED
	xtrf CDATA #IMPLIED
	class CDATA  "+ topic/index-base indexing-d/index-sort-as ">
